{% extends "base.html" %}
{% block content %}
<h2>Notification History</h2>
<table class="table table-striped">
    <thead>
         <tr>
            <th>Type</th>
            <th>Recipient</th>
            <th>Subject/Message</th>
            <th>Time</th>
            <th>Status</th>
         </tr>
    </thead>
    <tbody>
        {% for n in notifications %}
         <tr>
            <td>{{ n.type|upper }}</td>
            <td>{{ n.to }}</td>
            <td>{{ n.subject if n.subject else n.message[:50] }}</td>
            <td>{{ n.timestamp[:16] }}</td>
            <td>{{ n.status }}</td>
         </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
